.elementor-35 .elementor-element.elementor-element-c667988:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-c667988 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f2f1ea;}.elementor-35 .elementor-element.elementor-element-c667988{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-35 .elementor-element.elementor-element-c667988 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-35 .elementor-element.elementor-element-507a491:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-507a491 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f2f1ea;}.elementor-35 .elementor-element.elementor-element-507a491{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-35 .elementor-element.elementor-element-507a491 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-35 .elementor-element.elementor-element-56b67ea{border-style:solid;border-width:2px 0px 0px 0px;border-color:#fff53f;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-35 .elementor-element.elementor-element-56b67ea > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-35 .elementor-element.elementor-element-553cc8d{color:#fff53f;}.elementor-35 .elementor-element.elementor-element-522e06f{color:#fff53f;}.elementor-35 .elementor-element.elementor-element-0748557{text-align:center;}.elementor-35 .elementor-element.elementor-element-cefe79e{border-style:solid;border-width:0px 0px 0px 0px;border-color:#fff53f;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-35 .elementor-element.elementor-element-cefe79e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-35 .elementor-element.elementor-element-3814a01{color:#fff53f;}.elementor-35 .elementor-element.elementor-element-b77e9e5{border-style:solid;border-width:0px 0px 2px 0px;border-color:#fff53f;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-35 .elementor-element.elementor-element-b77e9e5, .elementor-35 .elementor-element.elementor-element-b77e9e5 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-35 .elementor-element.elementor-element-b77e9e5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-35 .elementor-element.elementor-element-8769cdd{color:#fff53f;}/* Start custom CSS for section, class: .elementor-element-c667988 */.elementor-35 .elementor-element.elementor-element-c667988 h3{
    padding-top: 30px;
    font-size: 38px;
}

.elementor-35 .elementor-element.elementor-element-c667988 p{
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-507a491 */.elementor-35 .elementor-element.elementor-element-507a491 h3{
    padding-top: 30px;
    font-size: 38px;
}

.elementor-35 .elementor-element.elementor-element-507a491 p{
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-56b67ea */.elementor-35 .elementor-element.elementor-element-56b67ea h3{
    padding-top: 30px;
    font-size: 38px;
}

.elementor-35 .elementor-element.elementor-element-56b67ea p{
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-fd3786b */.elementor-35 .elementor-element.elementor-element-fd3786b h3{
    padding-top: 30px;
    font-size: 38px;
}

.elementor-35 .elementor-element.elementor-element-fd3786b p{
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-cefe79e */.elementor-35 .elementor-element.elementor-element-cefe79e h3{
    padding-top: 30px;
    font-size: 38px;
}

.elementor-35 .elementor-element.elementor-element-cefe79e p{
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-b77e9e5 */.elementor-35 .elementor-element.elementor-element-b77e9e5 h3{
    padding-top: 30px;
    font-size: 38px;
}

.elementor-35 .elementor-element.elementor-element-b77e9e5 p{
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}/* End custom CSS */